h1, {
	background-color: #ffffff;
	text-align: left;
}
h3 {
	text-align: right;
}

h1 {
	color: #000000;
	font-family: georgia;
	font-weight: bold;
}

p, h6 {
	text-align: center;
}

p {
	font-size: 18px
}

div {
	width: 350px;
	height: 350px;
	border: 1px solid black;
	display: inline-block;
	margin: 20px;
}

hr {
	width: 1175px;
}
