h1 {
	color: #000000;
	font-family: Georgia, "Open Sans";
	font-weight: bold;
	font-size: 42px;
	margin-top: 25px;
	margin-right: 20px;
	margin-left: 25px;
	margin-bottom: 25px;

}


p { 
	text-align: center;
	color: #000000
}

hr {
  width: 96.5%;
}

.img { 	
	margin-top: 25px;
	margin-right: 40px;
	margin-left: 25px;
	margin-bottom: 25px;
	float: left;
}

nav {
	text-align: right;
	margin-top: 25px;
	margin-right: 20px;
	margin-left: 25px;
	margin-bottom: 25px;

}
